.salad{
    &__list{
        max-width: 1400px;
        margin: 0 auto;
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(3, 383px);
        column-gap: 125px;
        row-gap: 140px;
    }
    &__item{
        position: relative;
        display: block;
        border: 4px solid rgba(32, 140, 212, 0.42);
        border-radius: 29px;
        width: 383px;
        padding: 20px;
        box-shadow: 0px 0px 34px 7px rgba(34, 60, 80, 0.36);
        text-align: center;
    }
    &__img{
        border-radius: 29px;
        width: 100%;
        height: 188px;
        object-fit: cover;
    }
    &__name{
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    &__description{
        font-size: 22px;
        margin-bottom: 150px;
    }
    &__price{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 5px;
        margin-bottom: 63px;
        font-size: 25px; 
    }
    &__price::before{
        content: '';
        display: block;
        height: 2px;
        width: 377px;
        background: rgba(32, 140, 212, 0.42);
        margin-bottom: 10px;
    }
    &__price::after{
        margin-top: 10px;
        content: '';
        display: block;
        height: 2px;
        width: 377px;
        background: rgba(32, 140, 212, 0.42);
        margin-bottom: 10px;
    }
    &__counter{
        left: 50%;
        transform: translate(-50%);
        position: absolute;
        align-items: center;
        display: flex;
        bottom: 15px;
        justify-content: space-evenly;
        img{
            width: 15%;
            cursor: pointer;
            object-fit: cover;
        }
    }
    &__value{
        font-size: 40px;
        margin-left: 50px;
        margin-right: 50px;
    }
}
