.customSalad{
    &__ingredients{
        max-width: 1125px;
        margin: 0 auto;
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(4, 256px);
        column-gap: 33px;
        row-gap: 33px;
    }
    &__item{
        min-height: 273px;
        position: relative;
        display: block;
        border: 4px solid rgba(32, 140, 212, 0.42);
        border-radius: 50%;
        width: 256px;
        padding: 20px;
        box-shadow: 0px 0px 34px 7px rgba(34, 60, 80, 0.36);
        text-align: center;
    }
    &__name{
        width: 140px;
        font-size: 26px;
        margin: 10px auto;
    }
    &__description{
        font-size: 18px;
        margin-bottom: 30px;
    }
    &__price{
        border: solid 2px #a1cfed;
        background-color: #a1cfed;
        border-radius: 20px;
        position: absolute;
        top: 95%;
        width: 180px;
        height: 30px;
        left: 15%;
        bottom: 5px;
        margin-bottom: 53px;
        font-size: 20px; 
    }
    &__checkbox{
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    &__checkbox+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }
    &__checkbox+label::before {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 46%;
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #30be2b;
    border-radius: 20px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    transition: all 0.3s ease;
    }
    &__checkbox:checked+label::before {
    border-color: #30be2b;
    background-color: #30be2b;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }
    &__button{
        box-shadow: 0 0 40px 40px #2a9aad inset;
        transition: all 0.5s;
        color: #fff;
        box-sizing: border-box;
        appearance: none;
        background-color: transparent;
        border: 2px solid #2a9aad;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        align-self: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        margin: 0 auto;
        margin-top: 50px;
        padding: 14px 35px;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        &:hover {
            box-shadow: 0 0 40px 40px #387b86 inset;
            border: 2px solid #387b86;
            color: rgb(240, 240, 240);
            outline: 0;
        }
    }
    &__tableTitle{
        text-align: center;
        width: 272px;
        margin: 0 auto;
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 20px;
        margin-top: 50px;   
    }
    &__tableHeader{
        width: 625px;
        font-size: 23px;
        font-weight: 700;
        border: solid 2px #a1cfed;
        padding: 15px;
    }
    &__tableItem{ 
        
        width: 625px;
        font-size: 20px;
        border: solid 2px #a1cfed;
        padding: 15px;
    }
    &__tableRow{    
        display: flex;
    }
    &__delete{
        cursor: pointer;
        margin-top: 25px;
        transition: 0.3s transform;
        &:hover{
            transform: translateY(-3px);;
        }
    }
    &__delete::after{
        content: ""; 
        position: absolute; 
        width: 24px; 
        height: 4px; 
        background: red;
        transform: rotate(45deg);
    }
    &__delete::before{
        content: ""; 
        position: absolute; 
        width: 24px; 
        height: 4px; 
        background: red;
        transform: rotate(-45deg);
    }
}
