.info {
    display: flex;
    color: #24536e;
    &__wrapper {
        width: 900px;
    }
    &__title{
        margin-bottom: 25px;
        font-size: 47px;
    }
    &__description{
        margin-right: 165px;
        font-size: 27px;
    }
    
    &__slide{
        box-shadow: 0px 0px 34px 7px rgba(34, 60, 80, 0.36);
        width: 800px;
    }
    &__slide img {
        width: 100%;
        height: auto;        
        vertical-align: middle;
        object-fit: cover;
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}
