.info {
    
    display: flex;
    color: #24536e;
    &__wrapper {
        width: 675px;
    }
    &__title{
        margin-bottom: 25px;
        font-size: 35px;
    }
    &__description{
        margin-right: 165px;
        font-size: 20px;
    }
    &__slide{
        box-shadow: 0px 0px 34px 7px rgba(34, 60, 80, 0.36);
        width: 600px;
    }
    &__slide img {
        width: 100%;
        height: auto;        
        vertical-align: middle;
        object-fit: cover;
    }
}

.hide {
    display: none;
}

.show {
    display: block;
    animation: shadow  4s infinite ease-in-out;
}

@keyframes shadow {
    from {
      opacity: 0;
    }
    15% {
        opacity: 1;
      }
    85% {
    opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
