.buttons {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
}

.btn-choice {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #2a9aad;
    border-radius: 0.6em;
    color: #2a9aad;
    cursor: pointer;
    display: flex;   
    align-self: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 14px 35px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

    &:hover {
        box-shadow: 0 0 40px 40px #2a9aad inset;
        color: #fff;
        outline: 0;
    }
}

.active {
    button{
        border-radius: 0.6em;
        box-shadow: 0 0 40px 40px #2a9aad inset;
        outline: 0;
        color: #fff;
    }
}