@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');


* {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.app {
    width: 1500px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    margin-bottom: 100px;
}

.divider {
    width: 330px;
    height: 1px;
    margin: 10px auto;
    margin-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

main {
    margin-top: 50px;
    position: relative;
}
